In [1]:
%load_ext sql

In [2]:
%sql sqlite:///NBA_Database.db

'Connected: @NBA_Database.db'

In [3]:
%%sql
create table Players (
    Pid integer,
    name char(30),
    birthday date default  '0000-00-00',
    height float,
    primary key (Pid),
    foreign key (Pid) references Plays_for (Pid)  on delete restrict,
    CHECK (height > 0)
)

 * sqlite:///NBA_Database.db
Done.

[]

In [10]:
%%sql
INSERT INTO Games
    (Gid, venue, Sid)
VALUES
    (90,'a', 1);

 * sqlite:///NBA_Database.db
1 rows affected.

[]

In [23]:
%%sql
create table Teams (
    Tid int,
    name char(30),
    location char(30),
    primary key (Tid),
    foreign key (Tid) references Plays_for (Tid) on delete restrict,
    foreign key (Tid) references Coaches(Tid)  on delete restrict
)

 * sqlite:///NBA_Database.db
(sqlite3.OperationalError) table Teams already exists
[SQL: create table Teams (
    Tid int,
    name char(30),
    location char(30),
    primary key (Tid),
    foreign key (Tid) references Plays_for (Tid) on delete restrict,
    foreign key (Tid) references Coaches(Tid)  on delete restrict
)]
(Background on this error at: http://sqlalche.me/e/e3q8)

In [5]:
%%sql
create table Plays_for (
    Pid integer,
    Tid integer,
    start_date date default '0000-00-00',
    end_date date default '0000-00-00',
    check (start_date <= end_date)
)

 * sqlite:///NBA_Database.db
Done.

[]

In [6]:
%%sql
create table Coach (
    Coachid int,
    name char(30),
    age int,
    phonenum char default '0000000000',
    primary key (Coachid),
    foreign key (Coachid) references Coaches(Coachid)  on delete restrict
)

 * sqlite:///NBA_Database.db
Done.

[]

In [7]:
%%sql
create table Coaches (
    Coachid integer,
    Tid integer,
    start_date date default '0000-00-00',
    end_date date default '0000-00-00',
    check (start_date <= end_date)
)

 * sqlite:///NBA_Database.db
Done.

[]

In [8]:
%%sql
create table Games (
    Gid int,
    Sid int,
    venue char(30),
    gamedate date default '0000-00-00',
    primary key (Gid)
)

 * sqlite:///NBA_Database.db
Done.

[]

In [9]:
%%sql
create table Performance (
    Pid  integer,
    Gid integer,
    points int,
    rebounds int,
    assists int,
    steals int,
    blocks int,
    mins_played int,
    primary key (Pid, Gid),
    foreign key (Pid) references Players(Pid)  on delete restrict,
    foreign key(Gid) references Games(Gid)  on delete restrict,
    check ( points >= 0),
    check (rebounds >= 0),
    check (assists >= 0),
    check (steals >= 0),
    check (blocks >= 0),
    check (mins_played >= 0)
)

 * sqlite:///NBA_Database.db
Done.

[]

In [10]:
%%sql 
create table Seasons (
    Sid int,
    startdate date default '0000-00-00',
    enddate date default '0000-00-00',
    primary key(Sid),
    foreign key (Sid) references Games(Sid) on delete restrict,
    check (startdate < enddate)
)

 * sqlite:///NBA_Database.db
Done.

[]

In [11]:
%%sql
create table Sponsor (
    name char(30),
    Tid int,
    bus_field char(20),
    sponsorship int,
    primary key (name),
    foreign key (Tid) references Teams(Tid) on delete restrict,
    check (sponsorship >= 0)
)

 * sqlite:///NBA_Database.db
Done.

[]

In [12]:
%%sql

INSERT INTO Players
    (Pid, name, birthday, height)
VALUES
    (1, 'a', '1979-08-05', 2.03),
    (2, 'b', '1979-08-05', 2.03),
    (3, 'c', '1979-08-05', 2.03),
    (4, 'd', '1979-08-05', 2.03),
    (5, 'e', '1979-08-05', 2.03),
    (6, 'f', '1979-08-05', 2.03),
    (7, 'g', '1979-08-05', 2.03),
    (8, 'h', '1979-08-05', 2.03),
    (9, 'i', '1979-08-05', 2.03),
    (10, 'j', '1979-08-05', 2.03);

 * sqlite:///NBA_Database.db
10 rows affected.

[]

In [13]:
%%sql
INSERT INTO Coach
    (Coachid, name, age, phonenum)
VALUES
    (1001, 'a', 37, '1234432112'),
    (1002, 'b', 37, '1234432113'),
    (1003,  'c', 37, '1234432114'),
    (1004,  'd', 37, '1234432115'),
    (1005,  'e', 37, '1234432116'),
    (1006,  'f', 37, '1234432117'),
    (1007,  'g', 37, '1234432118'),
    (1008,  'h', 37, '1234432119'),
    (1009,  'i', 37, '1234432110'),
    (1010,  'j', 37, '1234432111'),
    (1011,  'k', 37, '1234432121'),
    (1012,  'l', 37, '1234432122');

 * sqlite:///NBA_Database.db
12 rows affected.

[]

In [24]:
%%sql
INSERT INTO Teams
    (Tid, name, location)
VALUES
    (1001, 'Lakers', 'LA'),
    (1002, 'Ducks', 'BJ'),
    (1003, 'Rockets', 'H'),
    (1004, 'Warriors', 'GS'),
    (1005, 'Bulls', 'CH'),
    (1006, 'Heat', 'Miami'),
    (1007, 'Raptors', 'Tor'),
    (1008, 'Nets', 'Brooklyn'),
    (1009, 'Knicks', 'NY'),
    (1010, 'Bucks', 'Mil');

 * sqlite:///NBA_Database.db
10 rows affected.

[]

In [15]:
%%sql
INSERT INTO Coaches
    (Coachid, Tid, start_date, end_date)
VALUES
    (1001, 1001, '2010-01-01', '2011-01-01'),
    (1002, 1002, '2010-01-01', '2011-01-01'),
    (1003, 1003, '2010-01-01', '2011-01-01'),
    (1004, 1004, '2010-01-01', '2011-01-01'),
    (1005, 1005, '2010-01-01', '2011-01-01'),
    (1006, 1006, '2010-01-01', '2011-01-01'),
    (1007, 1007, '2010-01-01', '2011-01-01'),
    (1008, 1008, '2010-01-01', '2011-01-01'),
    (1009, 1009, '2010-01-01', '2011-01-01'),
    (1010, 1010, '2010-01-01', '2011-01-01');

 * sqlite:///NBA_Database.db
10 rows affected.

[]

In [16]:
%%sql

INSERT INTO Plays_for
    (Pid, Tid, start_date, end_date)
VALUES
    (1, 1001, '2010-01-01', '2011-01-01'),
    (2, 1002, '2010-01-01', '2011-01-01'),
    (3, 1003, '2010-01-01', '2011-01-01'),
    (4, 1004, '2010-01-01', '2011-01-01'),
    (5, 1005, '2010-01-01', '2011-01-01'),
    (6, 1006, '2010-01-01', '2011-01-01'),
    (7, 1007, '2010-01-01', '2011-01-01'),
    (8, 1008, '2010-01-01', '2011-01-01'),
    (9, 1009, '2010-01-01', '2011-01-01'),
    (10, 1010, '2010-01-01', '2011-01-01');

 * sqlite:///NBA_Database.db
10 rows affected.

[]

In [17]:
%%sql
INSERT INTO Seasons
    (Sid, startdate, enddate)
VALUES
    (1, '2010-01-01','2011-01-01'),
    (2, '2009-01-01','2010-01-01'),
    (3, '2008-01-01','2009-01-01'),
    (4, '2007-01-01','2008-01-01'),
    (5, '2006-01-01','2007-01-01'),
    (6, '2005-01-01','2006-01-01'),
    (7, '2004-01-01','2005-01-01'),
    (8, '2003-01-01','2004-01-01'),
    (9, '2002-01-01','2003-01-01'),
    (10, '2001-01-01','2002-01-01');

 * sqlite:///NBA_Database.db
10 rows affected.

[]

In [18]:
%%sql
INSERT INTO Games
    (Gid, venue, gamedate, Sid)
VALUES
    (1,'a', '2010-03-05', 1),
    (2,'b', '2010-03-06', 1),
    (3,'c', '2010-03-07', 1),
    (4,'d', '2010-03-08', 1),
    (5,'e', '2010-03-09', 1),
    (6,'f', '2010-03-10', 1),
    (7,'g', '2010-03-11', 1),
    (8,'h', '2010-03-12', 1),
    (9,'j', '2010-03-13', 1),
    (10,'k', '2010-03-14', 1);

 * sqlite:///NBA_Database.db
10 rows affected.

[]

In [19]:
%%sql
INSERT INTO Performance
    (Pid, Gid, points, rebounds, assists, steals, blocks, mins_played)
VALUES
    (1, 1, 19, 4, 5, 1, 2, 30),
    (2, 2, 19, 4, 5, 1, 2, 30),
    (3, 3, 19, 4, 5, 1, 2, 30),
    (4, 4, 19, 4, 5, 1, 2, 30),
    (5, 5, 19, 4, 5, 1, 2, 30),
    (6, 6, 19, 4, 5, 1, 2, 30),
    (7, 7, 19, 4, 5, 1, 2, 30),
    (8, 8, 19, 4, 5, 1, 2, 30),
    (9, 9, 19, 4, 5, 1, 2, 30),
    (10, 10, 19, 4, 5, 1, 2, 30);

 * sqlite:///NBA_Database.db
10 rows affected.

[]

In [20]:
%%sql
INSERT INTO Sponsor
    (name, Tid, bus_field, sponsorship)
VALUES
    ('a', 1001, 'q', 900),
    ('b', 1002, 'w', 900),
    ('c', 1003, 'e', 900),
    ('d', 1004, 'r', 900),
    ('e', 1005, 't', 900),
    ('f', 1006, 'y', 900),
    ('g', 1007, 'u', 900),
    ('h', 1008, 'i', 900),
    ('i', 1009, 'o', 900),
    ('j', 1010, 'p', 900);

 * sqlite:///NBA_Database.db
10 rows affected.

[]

 * sqlite:///NBA_Database.db
10 rows affected.

[]

 * sqlite:///NBA_Database.db

IntegrityError: (sqlite3.IntegrityError) CHECK constraint failed: Seasons
[SQL: INSERT INTO Seasons
    (Sid, startdate, enddate)
VALUES
    (92, '2087-01-01','2021-01-01');]
(Background on this error at: http://sqlalche.me/e/gkpj)