In [1]:
%load_ext sql

In [2]:
%sql sqlite:///36.db

'Connected: @36.db'

In [10]:
%%sql
select * from Games G, Story S where G.name = S.sGName and S.type = 'OPEN WORLD' and S.length > 100;

 * sqlite:///36.db
Done.

[('MINECRAFT', '2009-05-17', 30, 9, 14, 'MINECRAFT', 1000, 'OPEN WORLD')]

In [11]:
%%sql
select name from sqlite_master where type in ('table', 'view') and name NOT LIKE 'sqlite_%' ORDER BY 1;

 * sqlite:///36.db
Done.

[('Customers',),
 ('Developers',),
 ('Games',),
 ('Genres',),
 ('MultiPlayer',),
 ('ServiceModel',),
 ('SinglePlayer',),
 ('Story',),
 ('Transactions',)]

In [13]:
%%sql
select sql from sqlite_master where type='table' and name='ExampleTable';

 * sqlite:///36.db
Done.

[]