# HW4. Relational Algebra & Query Plans

## Objectives

In this homework assignment, you will review your knowledge in two different topics:

 - Relational Algebra
 - Query Processing & Optimization

This assignment has two sections, and a total of 20 points.

### Preparation

To write a relational algebra query in a cell, the cell should be a [Markdown cell](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html). You can use [LaTeX equations](https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20With%20Markdown%20Cells.html#LaTeX-equations) in a markdown cell for required algebraic notation. Here is a list of the main operators:

* Selection ($\sigma$)
* Projection ($\pi$)
* Union ($\cup$)
* Intersect ($\cap$)
* Set Difference ($-$) 
* Cross Product ($\times$)
* Rename ($\rho$)
* Join ($\bowtie$)
* Conjunction ($\wedge$)
* Disconjunction ($\vee$)
* Greater Than or Equal To ($\geq$)
* Less Than or Equal To ($\leq$)

You may also need $_{Subscript}$ and $^{Superscript}$ in the notations you use.

Consider the same bank database you have used in homework assignments 2 and 3.
 - Customer = {<span style="text-decoration:underline">customerID</span>, firstName, lastName, income, birthDate}
 - Account = {<span style="text-decoration:underline">accNumber</span>, type, balance, branchNumber<sup>FK-Branch</sup>}
 - Owns = {<span style="text-decoration:underline">customerID</span><sup>FK-Customer</sup>, <span style="text-decoration:underline">accNumber</span><sup>FK-Account</sup>}
 - Transactions = {<span style="text-decoration:underline">transNumber</span>, <span style="text-decoration:underline">accNumber</span><sup>FK-Account</sup>, amount}
 - Employee = {<span style="text-decoration:underline">sin</span>, firstName, lastName, salary, branchNumber<sup>FK-Branch</sup>}
 - Branch = {<span style="text-decoration:underline">branchNumber</span>, branchName, managerSIN<sup>FK-Employee</sup>, budget}

## Q1: Relational Algebra (5 points)

In this assignment, we want you to write down the relational algebraic presentations for the queries you have previously written to extract data from the bank database.

1.1. Find out names of the bank branches and first name and last name of their managers.

**Original SQL Query**: "SELECT Branch.branchName, Employee.firstName, Employee.lastName 
FROM Branch, Employee WHERE Branch.managerSIN = Employee.sin"

**Relational Algebra Expression:**
$\pi_{Branch.branchName, Employee.firstName, Employee.lastName}(\sigma_{Branch.managerSIN = Employee.sin} (Branch \times Employee) )$

________________________________

1.2. Show account number, account type, account balance, and transaction amount of the accounts with balance higher than 100,000 and transaction amounts higher than 15000.

**Original SQL Query**: "SELECT Account.accNumber, Account.type, Account.balance, Transactions.amount FROM Account, Transactions 
WHERE Account.accNumber = Transactions.accNumber AND 
    Account.balance > 100000 AND Transactions.amount > 15000 "

**Relational Algebra Expression:**
$\pi_{Account.accNumber, Account.type, Account.balance, Transactions.amount}(\sigma_{account.accNumber = Transactions.accNumber \wedge Account.balance > 100000 \wedge Transactions.amount > 15000} (Account \times Transactions) )$

_____________________

1.3. Show first name, last name, and income of customers whose income is at least twice the income of any customer whose lastName is Butler.

**Original SQL Query:** "SELECT firstName, lastName, income FROM Customer 
WHERE income >= 2*(SELECT income FROM Customer C
                            WHERE C.lastName = 'Butler')"

**Relational Algebra Expression:**
1. Subquery: $\pi_{income}(\sigma_{C.lastName = 'Butler'} (\rho_{C} (Customer)) )$
2. Together with outer query: $\pi_{firstName, lastName, income}(\sigma_{income \geq  2*(\pi_{income}(\sigma_{C.lastName = 'Butler'} (\rho_{C} (Customer)) ))} (Customer) )$

**Equivalent SQL Query (To format "EXISTS / NOT EXISTS"):**"SELECT C.firstName, C.lastName, C.income FROM Customer C 
WHERE NOT EXISTS (SELECT income FROM Customer CC
                            WHERE CC.lastName = 'Butler' AND
                            C.income < 2*CC.income )"

After transferring to "EXISTS / NOT EXISTS", we could use "Anti-Join (R ⋈¯ S), (or, equivalently (R $-$ (R $\bowtie$ S)))" to express "EXISTS / NOT EXISTS" **References: http://mlwiki.org/index.php/Translating_SQL_to_Relational_Algebra **

**Relational Algebra Expression:**
1. Subquery: <br>
    $\pi_{income}(\sigma_{CC.lastName = 'Butler'\wedge C.income < 2 * CC.income} (\rho_{CC} (Customer)) )$ 
2. Add context relations and parameters: <br> $\pi_{income,  customerID, firstName, lastName, income, birthDate}(\sigma_{CC.lastName = 'Butler'\wedge C.income < 2 * CC.income} (\rho_{CC} (Customer)
\times \rho_{C} (Customer)))$
3. For FROM clause: <br>
$\rho_{C} (Customer)$
4. Synchronize the results, with  Anti-Join ( ⋈¯ ) : <br>
[$\rho_{C} (Customer)$] ⋈¯ [$\pi_{income,  customerID, firstName, lastName, income, birthDate}(\sigma_{CC.lastName = 'Butler'\wedge C.income < 2 * CC.income} (\rho_{CC} (Customer)
\times \rho_{C} (Customer)))$] 
5. Final answer: Translate "SELECT" <br>
$\pi_{firstname, lastname, income}$
[[$\rho_{C} (Customer)$] ⋈¯ [$\pi_{income,  customerID, firstName, lastName, income, birthDate}(\sigma_{CC.lastName = 'Butler'\wedge C.income < 2 * CC.income} (\rho_{CC} (Customer)
\times \rho_{C} (Customer)))$]]

__________

1.4. Show Customer ID, income, account numbers and branch numbers of customers with income greater than 90,000 who own an account at both London and Latveria branches.

**Original Query:** "SELECT c.customerID, c.income, o.accNumber, a.branchNumber <br> FROM Customer c, Owns o, Account a <br>
WHERE c.customerID = o.customerID and o.accNumber = a.accNumber and c.income>90000 and <br> EXISTS (select customerID from Owns o, Account a, Branch b WHERE o.accNumber = a.accNumber and a.branchNumber = b.branchNumber and b.branchName = 'London' and c.customerID = o.customerID) and <br> EXISTS (select customerID from Owns o, Account a, Branch b where o.accNumber = a.accNumber and a.branchNumber = b.branchNumber and b.branchName = 'Latveria' and c.customerID = o.customerID)"

**Relational Algebra Expression:**
1. Subquery 1:<br> $\pi_{customerID}(\sigma_{o.accNumber = a.accNumber \wedge a.branchNumber = b.branchNumber \wedge b.branchName = 'London' \wedge c.customerID = o.customerID} (\rho_{o} (Owns)\times \rho_{a} (Account)\times \rho_{b} (Branch)) )$ 
2. Subquery 2:<br> $\pi_{customerID}(\sigma_{o.accNumber = a.accNumber \wedge a.branchNumber = b.branchNumber \wedge b.branchName = 'Latveria' \wedge c.customerID = o.customerID} (\rho_{o} (Owns)\times \rho_{a} (Account)\times \rho_{b} (Branch)) )$ 
3. Combine with outer query (Use $\bowtie$ to join tables and express "EXISTS" using "join $\bowtie$" **References: https://cs.ulb.ac.be/public/_media/teaching/infoh417/sql2alg_eng.pdf **) <br>
$\pi_{c.customerID, c.income, o.accNumber, a.branchNumber}(\sigma_{c.customerID = o.customerID \wedge o.accNumber = a.accNumber \wedge c.income>90000} (\rho_{c} (Customer)\times \rho_{o} (Owns)\times \rho_{a} (Account)) \bowtie \pi_{customerID}(\sigma_{o.accNumber = a.accNumber \wedge a.branchNumber = b.branchNumber \wedge b.branchName = 'Latveria' \wedge c.customerID = o.customerID} (\rho_{o} (Owns)\times \rho_{a} (Account)\times \rho_{b} (Branch)) ) \bowtie  \pi_{customerID}(\sigma_{o.accNumber = a.accNumber \wedge a.branchNumber = b.branchNumber \wedge b.branchName = 'London' \wedge c.customerID = o.customerID} (\rho_{o} (Owns)\times \rho_{a} (Account)\times \rho_{b} (Branch)) )   )$

________

1.5. Customer ID of customers who have an account at the New York branch, who do not own an account at the London branch and who do not co-own an account with another customer who owns an account at the London branch.

**Original Query:**<br> SELECT DISTINCT o.customerid <br>
FROM owns o, account a, branch b <br>
WHERE o.accnumber = a.accnumber and b.branchnumber = a.branchnumber and <br>
b.branchname = 'New York' and o.customerid not in <br>
(SELECT o1.customerid FROM owns o1, owns o2 WHERE o1.accnumber = o2.accnumber and
o2.customerid in  <br>
(SELECT olondon.customerid  <br>
 FROM owns olondon, account alondon, branch blondon  <br>
 WHERE olondon.accnumber = alondon.accnumber and alondon.branchnumber = blondon.branchnumber and blondon.branchname = 'London'))

**Equivalent Query with "EXISTS / NOT EXISTS"** <br>
SELECT DISTINCT (o.customerid) <br>
FROM owns o, account a, branch b  <br>
WHERE o.accnumber = a.accnumber and b.branchnumber = a.branchnumber and b.branchname = 'New York' and  <br>
NOT EXISTS <br>
(SELECT o1.customerid FROM owns o1, owns o2 WHERE o1.accnumber = o2.accnumber AND o1.customerid= o.customerid 
 and <br> EXISTS  <br>
(SELECT olondon.customerid 
FROM owns olondon, account alondon, branch blondon 
WHERE o2.customerid = olondon.customerid AND olondon.accnumber = alondon.accnumber and alondon.branchnumber = blondon.branchnumber and blondon.branchname = 'London'))

**Relational Algebra Expression:**
1. Subquery 1:<br> $\pi_{o1.customerid}(\sigma_{o1.accnumber = o2.accnumber \wedge o1.customerid= o.customerid } (\rho_{o1} (Owns)\times \rho_{o2} (Owns)) )$ 
2. Subquery 2: <br >$\pi_{olondon.customerid}(\sigma_{o2.customerid = olondon.customerid \wedge olondon.accnumber = alondon.accnumber \wedge alondon.branchnumber = blondon.branchnumber \wedge blondon.branchname = 'London' } (\rho_{olondon} (Owns)\times \rho_{alondon} (account)\times \rho_{blondon} (branch)) )$ 
3. Combine with outer query (Express "EXISTS" using "join $\bowtie$ and express "NOT EXISTS" using "anti-join ⋈¯ "**References: https://cs.ulb.ac.be/public/_media/teaching/infoh417/sql2alg_eng.pdf**) <br>
$\pi_{o.customerid}(\sigma_{o.accnumber = a.accnumber \wedge b.branchnumber = a.branchnumber \wedge b.branchname = 'New York' } (\rho_{o} (Owns)\times \rho_{a} (account) \times \rho_{b} (branch))  )$

_______

## Q2: Query Processing (15 points)

In this assignment, we want to go through the query processing steps for a query you have previously written.

2.1. (5 points). You have previously provided the SQL query to find out customer ID, first name, last name and income of customers who have income greater than $5000 and own accounts in all of the branches that Helen Morgan owns accounts in. Parse your query into a query parse tree.

**Original Query from my HW3:** SELECT customer.customerID, customer.firstName, customer.lastName, customer.income
FROM Customer <br>
WHERE NOT EXISTS <br> (SELECT A.branchnumber
                 FROM customer C, owns O, account A
                 WHERE C.customerID = O.customerid AND
                 O.accnumber = A.accnumber AND
                 C.firstName = 'Helen' AND
                 C.lastName = 'Morgan' <br>
                 EXCEPT <br>
                 SELECT A1.branchnumber
                 FROM Owns O1, Account A1
                  WHERE O1.accNumber = A1.accNumber AND
                  O1.customerID = c.customerID) <br>
        AND c.income > 5000

<img src="ParseTree.png" alt="Parse Tree" style="width: 450px;"/>

_______

2.2. (5 points). Convert your parse tree to the equivalent relational algebraic representation.

**Original Query from my HW3:** SELECT customer.customerID, customer.firstName, customer.lastName, customer.income
FROM Customer <br>
WHERE NOT EXISTS <br> (SELECT A.branchnumber
                 FROM customer C, owns O, account A
                 WHERE C.customerID = O.customerid AND
                 O.accnumber = A.accnumber AND
                 C.firstName = 'Helen' AND
                 C.lastName = 'Morgan' <br>
                 EXCEPT <br>
                 SELECT A1.branchnumber
                 FROM Owns O1, Account A1
                  WHERE O1.accNumber = A1.accNumber AND
                  O1.customerID = c.customerID) <br>
        AND c.income > 5000
<img src="qp1.png" alt="RA" style="width: 450px;"/>

_______

2.3. (3 points) Can you rewrite your query plan?

<img src="qp2.png" alt="Query Plan" style="width: 450px;"/>

**Explanations:**
1. I remove "duplicated elimination" symbol, as it does not influence the final result of our query.
2. I push the selection "income > 5000" down to one of the subquery, which could get the same result and improve the effieiency a lot.
3. I group the associative/commutative operators together, not hierarchically.
4. I remove the involvement of table "Branch" and replace the "branchname" by "branchNumber". This simplify my query and could get the same result, as "branchname" and "branchNumber" could both represent a branch.

_________

2.4. (2 points) Assume you have a million records in each of the six tables above. If you need, make necessary assumptions about your storage blocks, as well as about charactristics in the bank.db. Can you enumerate the size and cost of the intermediate tables in your query plan?

Suppose we have: 
1. 1000 people with firstname 'Helen'
2. 1000 people with lastname 'Morgan'
3. 1/10 people with income > 5000<br>

Hence, for each table: <br>
1. R(a,b) has T(R) = 1,000,000 records
2. V(R,a) = 1,000. 1,000,000/1,000 = 1,000, which means that there are 1000 distinct variables in each table<br>

Let:
1. Subquery 1: S = $\pi_{a.branchNumber}(\sigma_{C.firstName = 'Helen' \wedge
                 C.lastName = 'Morgan' \wedge C.customerID = O.customerid \wedge O.accnumber = A.accnumber} (\rho_{c} (customer)\times \rho_{o} (owns) \times \rho_{a} (account))) $<br>
2. Subquery 2: S = $\pi_{aa.branchNumber}(\sigma_{aa.accNumber = oo.accNumber} (\rho_{aa}(Account)\times \rho_{oo}(Owns)))$ <br>
**Note: we need to do the set difference between subqueires 1 and 2** <br>

For subquery 1: <br>
1. Size of the natural join of 3 tables: <br>
T(Customer$\bowtie$Owns$\bowtie$account) = T(Customer)T(Owns)T(Account)/max(V(Customer,Y), V(Owns,Y), Y(Account, Y))
2. V(R,a) = 1000 [1000 different people], the number of tuples that satisfy income < 5000 is 1/10 of the total tuples. Hence, we could do a fair estimation on the size of S (without join):  <br>
T(R)(1-(1-1/V(R,a))(1 - 1/10)) = 1,000,000 * (1-(1-1/1,000)*(1-1/10))

<br>For subquery 2: <br>
The basic step is similar. Suppose after calcuation we get the size estimation: T(R1)
            
<br>Hence, for the set difference (or, except), we could get the result is between T(R) - T(R1) tuples. 
One fair approach is to do an average: T(R) - T(R1)/2

_______

## Submission

Complete the code in this notebook.Put [hw4.ipynb](hw4.ipynb) and your image files together in a zip file [hw4.zip](hw4.zip), submit it to through Canvas system to your HW4 activity. You can also include a pdf file where you can add your comments, thoughts, explanations about any of the questions.